*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region debug */

.debug header{
    background-color: red;
}

.debug main{
    background-color: blue;
}

.debug footer{
    background-color: yellow;
}

/* #endregion debug */


/* #region container-flex */

.container-flex{
    display: flex;
    justify-content: center; 
}

.nav{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* #endregion container-flex */

/* #region header-classes */
.logo, .login, .link{
    border: 1px dashed black; 
    background-color: green; 
}

.logo, .login{
    width: 15%;
}

.link{
    width: 30%;
    text-align: center;
}

.login{
    text-align: end;
}

/* #endregion header-classes */

/* #region main-classes */

.first-main{
    background-color: pink;
    width: 50%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;

}

/* #endregion main-classes */