*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region debug */

.debug header{
    background-color: red;
}

.debug main{
    background-color: blue;
    height: 300px;
}

.debug footer{
    background-color: yellow;
    height: 100px;
}

/* #endregion debug */


/* #region container-flex */

.container-flex{
    display: flex;
    justify-content: center; 
    padding-top: 10px;
    padding-bottom: 10px;
}

/* #endregion container-flex */

.logo, .login, .link{
    border: 1px dashed black; 
    background-color: green; 
}

.logo, .login{
    width: 15%;
}

.link{
    width: 30%;
    text-align: center;
}

.login{
    text-align: end;
}