*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region debug */

.debug header{
    background-color: lightblue;
}

.debug main{
    
}

.debug footer{
    background-color: yellow;
}

/* #endregion debug */


/* #region container-flex */

.container-flex{
    display: flex;
    justify-content: center; 
}

.nav{
    padding-top: 10px;
    padding-bottom: 10px;
}

.blue-bg{
    background-color: blue;
}

.grey-bg{
    background-color: lightgray;
}

/* #endregion container-flex */

/* #region header-classes */
.logo, .login, .link{
    border: 1px dashed black; 
    background-color:rgb(52, 192, 52); 
}

.logo, .login{
    width: 15%;
}

.link{
    width: 30%;
    text-align: center;
}

.login{
    text-align: end;
}

/* #endregion header-classes */

/* #region main-classes */

.main{
    background-color: pink;
    width: 50%;

}

.bigger{
    background-color: lightskyblue;
    width: 40%;
}

.smaller{
    background-color: gray;
    width: 20%;
}

.rectangle{
    height: 500px;
    border: 1px dashed black;
    margin-top: 30px;
    margin-bottom: 30px;  
}

.last{
    width: 60%;
    background-color: green;
    height: 700px;
}

/* #endregion main-classes */